<div class="confirmacion-container" style="font-family: 'Century Gothic', AppleGothic, sans-serif;;">
    <div class="confirmacion-card">
        <div class="success-icon">
            <i class="bi bi-check-circle-fill"></i>
        </div>
        
        <h1 class="ferre-title">¡PEDIDO CONFIRMADO!</h1>
        <div class="divider"></div>
        
        <p class="message">
            Gracias por confiar en <strong>Visión Ferre</strong>. <br>
            Tu herramienta está en camino.
        </p>

        <div class="actions">
            <button style="width: 50%;" class="btn-ferre-primary" routerLink="/">
                Seguir comprando
            </button>
        </div>
    </div>
</div>