<!-- Modal Backdrop -->
<div id="modal-backdrop" class="modal-backdrop" style="display: none;"></div>

<!-- Modal Content -->
<div id="my-modal" class="modal-dialog" style="display: none;">
  <div class="modal-content">
    <div class="modal-header" style="align-self:center; font-weight:bold; ">
      <span id="title" ></span>
      <!--<button id="close-modal" type="button" (click)="hideModal()" style="background-color:gainsboro; border:1px solid teal; color:black; margin-left: 20px;">x</button>-->
    </div>
    <div class="modal-body" style="margin-right:30px;">
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" style="background-color:gainsboro; border:1px solid teal; color:black; margin-left: 10px;" type="button" (click)="hideModal()">Cerrar</button>
    </div>
  </div>
</div>
